@font-face {
    /*font-family: "Sweety Donut";*/
    /*src: url("fonts/Sweety Donut.ttf") format("truetype");*/
    font-family: "Sweety Regular";
    src: url("fonts/Sweety Regular.ttf") format("truetype");
}

body{
   background-color: ghostwhite;
}

h2 {
    color: #996633;

}

.coffee{
    font-family:  'Sweety Donut', sans-serif;
    color:#4d3319;
    font-size: 96px;

}
.donut{
    font-family: "Sweety Regular", sans-serif;
    color: #4d3319
}


.header {
    height: 10em;
    position: relative;

}

div.header h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%) }


.container{
    /*background-image: url("coffe-beans-background-PAKNHXV.jpg");*/
    background-repeat: no-repeat;
    background-size:50% 600px;
}
.container::after{
    content: "";
    background: url("cup-coffe-and-milk-P7E2KZE.jpg");
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-size: 100%;
    background-repeat: no-repeat;
}
.container img{
    width: 800px;
    height: 500px;
    opacity: 0.5;
    filter: alpha(opacity=50)
}
table {
    border-collapse: collapse;
    margin: 15px 0;
}

td, th {
    border: 1px solid black;
    padding: 5px 10px;
}
